<p style="color: green"><%= notice %></p>

<%= render @article %>

<ul>
<% @article.photos.each do |photo| %>
  <li><%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %></li>
<% end %>
</ul>
<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
